{% extends 'home.html' %}

{% block conteudo %}
<div class="textoabout1">
    <div class="textoabout2">
        <h1>NOSSA HISTÓRIA!!</h1>
    </div>
    <div class="textoabout3">
        <p>A TechStock Solutions nasceu do sonho de quatro estudantes visionários de um curso técnico,
            determinados a transformar desafios do dia a dia corporativo em soluções inovadoras e eficientes.
            Desde o início, nosso objetivo é claro: ajudar empresas a organizar e otimizar seus processos, tornando
            mais simples e produtiva a gestão de estoques, documentos e outros aspectos cruciais da rotina empresarial.
            <br>
            <br>
            Combinando paixão por tecnologia, criatividade e conhecimento, criamos ferramentas que empoderam nossos
            clientes,
            permitindo que eles alcancem novos patamares de produtividade e crescimento. O que começou como um projeto
            acadêmico,
            hoje se tornou uma empresa comprometida com a excelência, a inovação e a satisfação dos nossos parceiros.
            Estamos prontos para enfrentar os desafios da era digital e ajudar sua empresa a conquistar resultados
            extraordinários.
            <br>
            <br>
            Junte-se a nós nessa jornada!
        </p>
    </div>
</div>
<div class="fotoabout1">
    <div class="fotoabout">
        <img src="/static/fotoabout.png" alt="fotoabout">
    </div>
</div>


{% endblock %}