{% extends 'home.html'%}

{% block conteudo %}
<div class="main-contato">
    <div class="inicial">
        <div class="faixainicial">
            <h1>Como deseja falar conosco?</h1>
        </div>
    </div>
    <div class="cardcontatos">
        <div class="contato">
            <img src="/static/o-email.png" alt="email">
            <h2>E-mail</h2>
            <p>Tem alguma dúvida? <br>
                techstock@gmail.com</p>
        </div>

        <div class="contato">
            <img src="/static/central-de-atendimento.png" alt="telefone">
            <h2>Telefone</h2>
            <p>Você pode ligar a qualquer hora. <br>
                0800 379 3209</p>
        </div>

        <div class="contato">
            <img src="/static/mensagens.png" alt="chat">
            <h2>Chat</h2>
            <p>Precisa de alguma ajuda agora? <br>
                Nos chame no WhatsApp: 18 99364-2894</p>
        </div>
    </div>
</div>

{% endblock conteudo %}
