{% extends 'home.html' %}

{% block conteudo %}
<div class="formeditar">
    <form action="{{ url_for('editar_funcionario', id_p=1) }}" method="POST">
        <label>Nome</label>
        <label>
            <input type="text" name="form_nome" value="{{ funcionarios.nome }}" required>
        </label>

        <label>Email</label>
        <label>
            <input type="text" name="form_email" value="{{ funcionarios.email }}" required>
        </label>

        <label>Senha</label>
        <label>
            <input type="text" name="form_senha" value="{{ funcionarios.senha }}" required>
        </label>

        <label>Telefone</label>
        <label>
            <input type="number" name="form_telefone" value="{{ funcionarios.telefone }}" required>
        </label>

        <label>CPF</label>
        <label>
            <input type="number" name="form_cpf" value="{{ funcionarios.cpf }}" required>
        </label>

        <button class="btn btn-success">Salvar</button>
    </form>
</div>

{% endblock conteudo %}
