{% extends 'home.html'%}

{% block conteudo %}
<div class="textomain">
    <h1>Bem Vindo À TechStock Solutions!</h1>
    <p>Nossa missão é simplificar e revolucionar a forma como as empresas utilizam a tecnologia para alcançar seus objetivos e maximizar seus resultados. Com uma
        equipe de especialistas apaixonados e uma abordagem centrada no cliente,
        oferecemos soluções personalizadas em software, consultoria tecnológica
        e suporte técnico.</p>
</div>
<div class="fotomain">
    <img src="/static/fotomain.png" alt="fotomain">
</div>


{% endblock %}