{% extends 'home.html' %}

{% block conteudo %}
<div class="container2">
    <h1>Entrada e Saída de Produtos</h1>
    <form class="form" method="POST" action="/movimentacao">
    <label for="form_nome_produto">Produto</label>
    <select id="form_nome_produto" name="form_nome_produto">
        {% for produto in lista_produtos %}
        <option value="{{ produto.id_produto }}">{{ produto.nome }}</option>
        {% endfor %}
    </select>

    <label for="form_funcionario">Funcionário</label>
    <select id="form_funcionario" name="form_funcionario">
        {% for funcionario in lista_funcionarios %}
        <option value="{{ funcionario.id_funcionario }}">{{ funcionario.nome }}</option>
        {% endfor %}
    </select>

    <label for="form_quantidade">Quantidade</label>
    <input type="number" id="form_quantidade" name="form_quantidade" placeholder="Digite a quantidade">

    <label for="form_data_atualizacao">Data de Atualização</label>
    <input type="date" id="form_data_atualizacao" name="form_data_atualizacao">

    <div class="buttons">
        <button type="submit" name="action" value="Entrada" class="entrada">Entrada</button>
        <button type="submit" name="action" value="Saída" class="saida">Saída</button>
    </div>
</form>

</div>
{% endblock conteudo %}
