{% extends 'home.html'%}

{% block conteudo %}
<div class="cardservico1">
    <div class="cardservico">
    <div class="computador">
        <img src="/static/computador.png" alt="computador">
        <h1>PRODUTOS DE QUALIDADE!</h1>
        <p>Trabalhamos com materiais de primeira linha e processos inovadores, sempre atentos
            às tendências do mercado e às necessidades dos nossos consumidores. Nosso rigoroso
            controle de qualidade assegura que cada item seja cuidadosamente testado antes de
            chegar às suas mãos.</p>
    </div>
</div>
<div class="cardservico">
    <div class="graduacao">
        <img src="/static/graduacao.png" alt="graduacao">
        <h1>CURSOS VARIADOS</h1>
        <p>Oferecemos uma ampla variedade de cursos, cuidadosamente planejados para atender às
            necessidades de diferentes públicos e áreas de atuação. Nossa missão é capacitar
            indivíduos com conhecimentos práticos e teóricos, proporcionando ferramentas para alcançar
            seus objetivos e se destacar no mercado.</p>
    </div>
</div>
</div>
<div class="cardservico2">
    <div class="cardservico3">
    <div class="equipe">
        <img src="/static/equipe.png" alt="equipe">
        <h1>EQUIPE QUALIFICADA</h1>
        <p>Acreditamos que funcionários bem capacitados não apenas
            entregam resultados superiores, mas também criam experiências
            positivas e memoráveis para nossos clientes. Estamos comprometidos em
            oferecer um serviço que reflita o profissionalismo, a expertise e o
            cuidado de uma equipe verdadeiramente preparada para atender às suas
            necessidades.</p>
    </div>
</div>
<div class="cardservico3">
    <div class="orcamento">
        <img src="/static/orcamento.png" alt="orcamento">
        <h1>ORÇAMENTOS</h1>
        <p>Valorizamos a sua confiança e trabalhamos para oferecer soluções personalizadas,
            garantindo o equilíbrio entre qualidade e custo-benefício. Cada orçamento é elaborado com cuidado,
            levando em consideração os detalhes do projeto e as necessidades específicas de cada cliente.</p>
    </div>
</div>
</div>

{% endblock conteudo %}